---
interface Props {
  title: string;
  icon: string;
  content: string;
}

const { title, icon, content } = Astro.props;
---

<div class="flex gap-3">
  <kbd class="kbd">
    <i class={icon + " text-primary"}></i>
  </kbd>
  <div class="flex flex-col">
    <span class="text-xs text-gray-400">{title}</span>
    <span>{content}</span>
  </div>
</div>
